# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment and config files
.env
*.db
*.log

# Ignore virtual environments
venv/
env/

# Ignore git and Docker files
.git
.gitignore
Dockerfile
.dockerignore

# Ignore all files and folders by default
**

# But explicitly allow the backend folder
!backend/

# Allow just the requirements.txt inside backend
!backend/requirements.txt
